* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(80, 80, 80, 0.904);
    color: white;
    font-family: 'Poppins', sans-serif;
}

.logo {
    font-size: 24px;
    text-decoration: none;
    color: white;
}

.nav-links {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.nav-links li {
    margin: 0 30px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #ffcc00;
}

.nav-links a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #ffcc00;
    transition: width 0.3s;
}

.nav-links a:hover::after {
    width: 100%;
}

.nav-close-btn {
    display: none;
}

#home {
    background-image: url("../pic/home.png");
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;

}

.intro {
    height: 100vh;
    display: flex;
    position: relative;
    left: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.intro p {
    margin: 40px;
    position: relative;
    top: 10px;
    left: 45px;
    font-weight: bold;
    color: #ffffff;
    font-size: 50px;
    animation: fadeInUp 1.5s ease forwards;
}

@keyframes fadeInUp {
        0% {
            opacity: 0;
            transform: translateY(50px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

.by p {
    font-style: italic;
    position: relative;
    top: 610px;
    right: 100px;
    color: #ffffff;
    font-size: 25px;
    animation: fadeInUp 1.5s ease forwards;
}

.about {
    padding: 80px 0;
    color: #ababab;
    position: relative;
    left: 40px;

}

.container {
    background-color: #c9c9c9;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-col-1 {
    margin: 40px;
    position: relative;
    left: 50px;
    top: 10px;
    margin: 40px;
    flex-basis: 35%;
    width: 100%;
    overflow: hidden; 
}

.mySlides {
    display: none;
}

.about-col-1 img{
    border-radius: 15px;
    box-shadow: 10px 10px 5px rgba(139, 139, 139, 0.678);
}

.about-col-2 {
    position: relative;
    right: 60px;
    top: 100px;
    flex-basis: 60%;
    font-size: 25px;
    line-height: 1.5;
}

.about-col-2 p {
    text-align: justify;
}
.me{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;    
}

.ex {
    display: flex;
    margin: 20px 0 40px;
}

.ex-links {
    font-family: 'Poppins', sans-serif;
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.ex-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ffcc00;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.ex-links.act-link::after {
    width: 50%;

}

.contents {
    font-family: 'Poppins', sans-serif;
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.contents ul li {
    list-style: none;
    margin: 10px 0;
}

.contents ul li span {
    color: #ddb100  ;
}

.contents{
    display: none;
}

.contents.act-tab{
    display: block;
}

.container1 h2 {
    margin-left: 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    margin-bottom: 20px;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.contact-left {
    font-family: 'Poppins', sans-serif;
    margin-left: 140px;
    flex-basis: 35%;
}

.contact-right {
    flex-basis: 55%;
}

.contact-left p{
    margin-top: 30px;
}

.contact-left p i{
    margin: 5px;
    padding: 5px;
    color: #ddb100;
    margin-left: 30px;
    font-size: 25px;
}

.social-icons{
    margin-top: 30px;
}

.social-icons a{
    padding: 5px;
    margin-left: 30px;
    text-decoration: none;
    font-size: 30px;
    color: #ababab;
}

.social-icons a:hover{
    color: #ddb100;
}

.button {
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    margin-left: 220px;
    margin-bottom: 20px;
    border: 2px solid #ddb100;
    color: #ddb100;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    transition: border-color 0.3s;
  }
  
.button:hover {
    background-color: #ddb100;
    color: #ffffff;
}

.contact-right form {
    margin-top: 132px;
    font-family: 'Poppins', sans-serif;
    width: 100%;
}

form input, form textarea {
    font-family: 'Poppins', sans-serif;
    top: 50px;
    width: 90%;
    border: 0;
    outline:  none;
    background: #262626;
    padding: 10px;
    margin: 15px 0;
    color: #ffffff;
    font-size: 18px;
    border-radius: 5px;
    resize: none;
}

#btn {
    font-size: 15px;
    width: 30%;
    font-family: 'Poppins', sans-serif;
    border: 2px solid #ddb100;
    color: #ddb100;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: 0 300px;
    transition: border-color 0.3s;
}

#btn:hover {
    background-color: #ddb100;
    color: #ffffff;
}

.copyright {
    font-family: 'Poppins', sans-serif;
    color: white;
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}

.content  {
    position: relative;
    right: 1000px;
    width: 30%;
    margin-top: 620px;
    text-align: center;
    padding: 10px 20px;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    animation: fadeInUp 1.5s ease forwards;
}

.content :hover {
    background-color: #ffaa00;
}

.btn2 {
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    margin-left: 220px;
    margin-bottom: 20px;
    border: 2px solid #ffffff;
    color: #ffffff;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    transition: border-color 0.3s;
}